{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Магазин</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">В продаже</h1>
                    <div class="col-12 mb-4">
                        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить
                            продукт</a>
                    </div>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {% for object in object_list %}
                        <li><a class="text-muted" href="{% url 'catalog:product' object.pk %}">{{ object.name }}</a>
                            {% for version in object.version_set.all %}
                            {% if version.is_current %}
                            <p class="card-text">Версия: {{ version.version_number }} - {{ version.version_name }}</p>
                            {% endif %}
                            {% endfor %}
                        </li>
                        <li>{{ object.description | truncatechars:100 }}</li>
                        <div class="btn-group">
                            <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                               class="btn btn-outline-primary">Edit</a>
                            <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                               class="btn btn-outline-primary">Delete</a>
                        </div>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}